/* GENERAL */
nav {
  background-color: rgba(247, 175, 150, 0.803);
}
header {
  position: sticky;
  top: 0px;
  z-index: 2;
}
/* FOOTER */
footer {
  background-color: black;
  color: white;
  padding: 15px 0px;
  text-align: center;
}
.footer-sm-icons {
  background-color: rgba(128, 128, 128, 0.581);
  padding: 2px;
}
.footer-sm-icons a {
  color: white;
  padding: 15px;
  font-size: 25px;
}
.sm-text {
  font-size: 20px;
  padding: 15px;
}
.footer-copyright {
  color: white;
}
/* INICIO */
.container {
  text-align: center;
}
.container--black {
  background-color: black;
  text-align: center;
}
.row--grey {
  background-color: rgba(220, 220, 220, 0.673);
  color: whitesmoke;
}
.title {
  font-family: "Dancing Script", cursive;
  font-family: "Lobster", cursive;
  font-family: "Moon Dance", cursive;
}
.image {
  width: 90%;
  height: 90%;
}
/* PRODUCTOS*/
.section {
  padding: 15px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4 auto);
  grid-gap: 10px;
  grid-template-areas:
    "titulo"
    "tortas"
    "cupecakes"
    "cakepops";
}
.title_productos {
  font-family: "Dancing Script", cursive;
  font-family: "Lobster", cursive;
  font-family: "Moon Dance", cursive;
  grid-area: titulo;
  text-align: center;
  margin-top: 30px;
  font-size: 60px;
}
.cakes {
  grid-area: tortas;
  text-align: center;
  margin-top: 20px;
}
.cupecakes {
  grid-area: cupecakes;
  text-align: center;
  margin-top: 50px;
}
.cakepops {
  grid-area: cakepops;
  text-align: center;
  margin-top: 50px;
}
.picture {
  width: 70%;
  padding: 5px 0px;
}
.subtitle {
  padding: 55px 0px;
  font-size: 35px;
}
/* RESPONSIVE 1023px */
@media (min-width: 1023px) {
  /* FOOTER */
  .footer-copyright {
    margin-top: 2px;
  }
  .footer-sm-icons {
    display: flex;
    justify-content: space-between;
  }
  /* INICIO */
  .text {
    font-size: 25px;
    text-align: start;
  }
  /* PRODUCTOS */
  .section {
    text-align: center;
  }
  .cakes {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .cupecakes {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .cakepops {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .picture {
    max-width: 250px;
    padding: 20px 30px;
  }
  .subtitle {
    text-align: center;
  }
}
